@model IEnumerable<Admin>
<h1>Index Of Admin</h1>

<button class="btn btn-primary">R</button>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <td>
                AdminID
            </td>
            <td>
                FirstName
            </td>
            <td>
                LastName
            </td>
            <td>
                Email
            </td>
            <td>
                CreatedAt
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.AdminId
                </td>
                <td>
                    @obj.FirstName
                </td>
                <td>
                    @obj.LastName
                </td>
                <td>
                    @obj.Email
                </td>
                <td>
                    @obj.CreatedAt
                </td>
            </tr>
        }
    </tbody>
</table>
